# Virtual environment
venv/

# Local settings and keys
settings.json
.secret.key

# Manga images/data directory
Manga/

# Local cache
.cache/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# User custom/local files
.env
.env.*

# Local temporary folders
temp/
src/ui/temp/

# Large binary tools and executables
bin/*.exe
bin/*.wav

# Data assets and logs
src/data/video/
src/data/chat_history/
src/data/music/

# Local/external tools and folders
Inpainting/
